<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Employee Management System</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ViewEmployees</display-name>
		<servlet-name>ViewEmployees</servlet-name>
		<servlet-class>ViewEmployees</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewById</display-name>
		<servlet-name>ViewById</servlet-name>
		<servlet-class>ViewById</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEmployee</display-name>
		<servlet-name>AddEmployee</servlet-name>
		<servlet-class>AddEmployee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteById</display-name>
		<servlet-name>DeleteById</servlet-name>
		<servlet-class>DeleteById</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateEmployee</display-name>
		<servlet-name>UpdateEmployee</servlet-name>
		<servlet-class>UpdateEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewEmployees</servlet-name>
		<url-pattern>/ViewEmployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewById</servlet-name>
		<url-pattern>/ViewById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEmployee</servlet-name>
		<url-pattern>/AddEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteById</servlet-name>
		<url-pattern>/DeleteById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmployee</servlet-name>
		<url-pattern>/UpdateEmployee</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
		<welcome-file>style.css</welcome-file>
		<welcome-file>viewEmployees.jsp</welcome-file>
		<welcome-file>viewById.jsp</welcome-file>
		<welcome-file>add.jsp</welcome-file>
	</welcome-file-list>
</web-app>
